a:hover {
    text-decoration: none;
    -moz-text-decoration: none;
}

.thumbnail:hover {
    background-color: #e7e7e7;
}

.centerSVG {
    padding: 30% 30% 30% 30%;
    text-align: center;
    color: red;
    font-size: 2em;
}